body {
  background-color: rgb(33, 37, 41) !important;
  color: white !important;
}

.nav-item {
  color: white;
  font-size: 1.2rem;
  margin-right: 15px;
  text-decoration: none;
  margin-bottom: 6px;
}

.title {
  font-size: 2rem;
}
/* before : 가상선택자 - 존재하지 않은 요소를 존재하는 요소처럼 보여지게 하는 선택자 */
.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to bottom, rgb(93, 92, 92), transparent);
}

.hide {
  position: absolute;
  opacity: 0;
  /* transition: opacity ease 0.5s; */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card:hover .hide {
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 41, 41, 0.8);
}

.card .hide > .genres {
  display: flex;
  gap: 5px;
}

/* MovieDetails */
.movie-details {
  display: flex;
  padding: 40px;
  gap: 50px;
}

.movie-details .poster > img {
  width: 550px;
  height: 550px;
}

.movie-details .genre {
  display: flex;
  gap: 15px;
}

.movie-details .genre + h1 {
  font-size: 4 em;
  margin: 30px 0;
}

.movie-details h4 + div {
  display: flex;
  gap: 15px;
  border-bottom: 3px solid white;
  padding: 20px 0;
}

.movie-details .overview {
  border-bottom: 3px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Review */
.review-box {
  border: 3px solid white;
  padding: 30px;
}

.review-item {
  border-bottom: 3px solid white;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Movies */
.all {
  display: flex;
  margin-top: 30px;
}

.sort {
  margin-right: 30px;
}

.pop {
  display: flex;
  gap: 30px;
  width: 1100px;
  flex-wrap: wrap;
}
